{% if widget.is_initial %}
    <div class="custom-clearable-file-input-container mb-2">
        <p class="mb-1">
            {{ widget.initial_text }}:
            <a href="{{ widget.value.url }}" target="_blank" class="current-image-link">
                {# You can style this image or use a class #}
                <img src="{{ widget.value.url }}" alt="Current {{ widget.label|default:'Image' }} Preview" class="currently-image-preview" style="max-height: 100px; max-width: 150px; margin-left: 10px; vertical-align: middle; border: 1px solid #ddd; padding: 2px;">
            </a>
        </p>
        {% if not widget.required %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
                <label class="form-check-label" for="{{ widget.checkbox_id }}">
                    {{ widget.clear_checkbox_label }}
                </label>
            </div>
        {% endif %}
    </div>
{% endif %}

{# The actual file input element #}
{# Adding a label for the file input itself if widget.input_text is defined #}
{% if widget.is_initial and widget.input_text %}
    <label for="{{ widget.attrs.id }}" class="d-block mb-1">{{ widget.input_text }}:</label>
{% elif not widget.is_initial and widget.input_text %}
    <label for="{{ widget.attrs.id }}" class="d-block mb-1">{{ widget.input_text|default:"Choose file" }}:</label>
{% endif %}

<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} class="form-control-file {{ widget.attrs.class|default:'' }}">
