{% load static %}
{% load bag_tools %}

<ul class="navbar-nav"> 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}" id="shopAllNav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SHOP ALL
        </a>
        <div class="dropdown-menu" aria-labelledby="shopAllNav">
            <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Filter by Category</h6>
            <a class="dropdown-item" href="{% url 'products' %}?category=candles">Candles</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=for_home">For Home</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=gifts">Gift Sets</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Sort by</h6>
            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price: Low to High</a>
            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price: High to Low</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=candles" id="candlesNav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CANDLES
        </a>
        <div class="dropdown-menu" aria-labelledby="candlesNav">
            <a class="dropdown-item" href="{% url 'products' %}?category=candles">All Candles</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=scented">Scented</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=unscented_candles">Unscented</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=pillar">Pillar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=for_home" id="forHomeNav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FOR HOME
        </a>
        <div class="dropdown-menu" aria-labelledby="forHomeNav">
            <a class="dropdown-item" href="{% url 'products' %}?category=for_home">All For Home</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=home_diffuser">Diffusers</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=room_spray">Room Sprays</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=wax_melts">Wax Melts</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="aboutNav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT
        </a>
        <div class="dropdown-menu" aria-labelledby="aboutNav">
            <a class="dropdown-item" href="{% url 'about:our_story' %}">Our Story</a>
            <a class="dropdown-item" href="{% url 'about:ingredients' %}">Ingredients</a>
            <a class="dropdown-item" href="{% url 'about:blog_list' %}">Blog</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact:contact_us' %}">CONTACT</a>
    </li>
</ul>