{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}
    {% trans "Sign Out" %} - KK39 Candles
{% endblock title %}

{% block content %}
<div class="login-page-container section-padding">
    <div class="login-form-wrapper text-center"> {# Added text-center for content alignment #}
        <h2 class="section-title">{% trans "Sign Out" %}</h2>

        <p class="login-subtitle">{% trans "Are you sure you want to sign out?" %}</p>

        <form method="post" action="{% url 'account_logout' %}" class="logout-form">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-login-submit mt-3 mb-2">{% trans "Sign Out" %}</button>
            <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary btn-block">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>
{% endblock content %}